<form method="POST" action="/contact-form">
  
  <div class=content-box>
    <div class=content>
      <h2>Get in touch...</h2>
        <p>Feel free to drop me a line below for work enquiries, or just to chit-chat.</p>

        <div class=input-prompt>
          <label id=name-label> Name:</label>
          <input id=name-box type="text" required="required" placeholder="Tim"/>
        </div>

        <div class=input-prompt>
          <label id=email-label>Email:</label>
          <input id=email-box type="text" required="required" placeholder="tim@cook.com"/>
        </div>

        <div id=message-input>
          <label id=message-label>Message:</label>
          <input id=message-box type="text" required="required" placeholder="I would love to give you a job!"/>
        </div>

        <input id=submit-button type="submit" />
    </div>
  </div>
</form>
