<div id=cover-letter-box>
  <h2 id=cover-letter-title>About me!</h2>
    <p id=cover-letter-content>
      I’m a Makers Academy graduate looking for my first role as a Junior Developer, somewhere I can grow and develop my skills over time and really believe in the vision of the company.
      I’m curious and excited about software and building useful products. I am a people-focused person who is in her element when working as part of a collaborative and kind team, bouncing ideas off one another and building something far better as a result! 

      I am a natural empath, which came in handy at Makers, where pair programming and team projects were fundamental to the structure of the course.  I was able to put EQ abilities to good use in creating an inclusive and nurturing environment for my fellow learners.

      I am all about producing high-quality and maintainable code following TDD principles and agile working practices and am excited to learn more in order to do so. 

      I enjoy being challenged by the work I do and welcome feedback and supportive coaching and mentoring in order to become a better developer and team member. 
      
      Want to hear more? Click on the ‘Get in touch’ page to come say hi! 🙂
    </p>
</div>