<div id=homepage-box>
  <div id=intro>
    <h2>Hi, I'm Cecily!</h2>
      <p>I'm a software developer living in London.</p>
      <div id=image-box>
        <img id=me-pic src="/images/me-pic-reformatted-min.jpg" alt="Cecily's pic"><img>
      </div>
      <p>Click on the links to find out more about me and to see examples of my work.</p>
  </div>
</div>
