<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"> 
      <title>Cecily Rowland's Portfolio</title>
      <link rel="stylesheet" type="text/css" href="../public/styles.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Rubik+Gemstones&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Cecily Rowland</h1>
    <div id=navbar>
      <ul>
        <li>
          <a class=navbar_click_though href="/cover-letter">About Me</a>
        </li>
        <li>
          <a class=navbar_click_though href="/cv">CV</a>
        </li>
        <li>
          <a class=navbar_click_though href="/projects">Projects</a>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>