/* background and title block */
body {
  background-color: #d6f1f7;
}

#header-box {
  background-color: #fffbf4;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #005cba;
}

h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 400%;
  color: #ff4b65;
  padding: 1%;
  border-radius: 15px;
  text-decoration: none;
}

#h1-link {
  text-decoration: none;
  color: #ff4b65;
}

#h1-link:hover {
  color:#00abe9;
  font-style: italic;
}

/* navbar box */

#navbar-box {
  background-color: #fffbf4;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #005cba;
  float: right;
  margin-right: 2%;
  height: 100%;
  width: 22%;
  text-align: left;
  display: fixed;
}

#list { 
  display: block;
  text-decoration: none;
  text-align: left;
  padding-top: 10%;
  padding-bottom: 10%;
  list-style-type: none;
 }

.list-item {
  font-family: 'Tilt Warp';
  text-align: right;
  padding-right: 30px;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  padding-bottom: 5%;
}

a {
  text-decoration: none;
  color: #00abe9;
}

a:hover {
  color: #005cba;
  font-style: italic;
}
/* content */

.content-box {
  background-color: #fffbf4;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  padding-bottom: 2%;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #005cba;
  width: 70%;
  height: 500%;
  align-items: center;
}

.content {
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  font-family: 'Tilt Warp';
  color:navy;
  margin: 2%;
}

#image-box {
  border-style: groove;
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #ffc8f4;
  border-radius: 20px;
  box-shadow: inset 0 0 30px #fff;
  border: none;
}

#me-pic {
  height: auto;
  width: 90%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 50%;
}

#click-through-prompt {
 padding-top: 1%
}

/* cover_letter */

#cover-letter-content {
  color:navy;
  font-family: 'Tilt Warp';
  font-size: large;
  text-align: left;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
 }

 /* contact-form */

.input-prompt {
  display: inline;
}

#name-label {
  float: left;
}

#name-box {
  float: left;
  background-color: #fff;
  color: #ff4b65;
  margin-left: 1%;
  margin-right: 2%;
  width: 41.5%;
  border-color: #005cba;
  text-align: left;
  color: #ff4b65;  
  font-family: 'Tilt Warp';
  box-shadow: none;
  border-radius: 5px;
}

#email-box {
  background-color: #fff;
  color: #ff4b65;
  margin-left: 1%;
  width: 41.7%;
  border-color: #005cba;
  text-align: left;
  color: #ff4b65;  
  font-family: 'Tilt Warp';
  box-shadow: none;
  border-radius: 5px;
}

#message-label {
  margin-top: 2%;
  float: left;
}

#message-box {
  margin-top: 2%;
  padding-bottom: 3%;
  width: 100%;
  height: 150%;
  background-color: #fff;
  border-width: 2px;
  border-color: #005cba;
  text-align: left;
  color: #ff4b65;  
  font-family: 'Tilt Warp';
  border-radius: 5px;
}

#submit-button {
 margin: 4%;
 padding: 1%;
 font-size: large;
 border: none;
 background-color: #d6f1f7;
 font-family: 'Tilt Warp';
 color: #005cba;
 border-radius: 10px;
 box-shadow: 5px 2px 2px #005cba;
}

#submit-button:hover {
  color:#ff4b65;
  font-style: italic;
  cursor: pointer;
}


